body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

#my-name {
    font-size: 30px;
    text-align: center;
    margin-bottom: 0%;
    color: #333;
}

#my-title {
    font-size: 15px;
    text-align: center;
    color: #666;
}

hr {
    margin-top: 20px;
    border-top: 1px solid;
    color: #ccc;
}

.navegador {
    display: flex;
    justify-content: center;
}

.navegador ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.navegador li {
    margin-right: 10px;
}

.navegador li:last-child {
    margin-right: 0;
}

.navegador ul li a {
    color: #333;
    text-decoration: none;
}

.navegador ul li a {
    color: #333;
    text-decoration: none;
    transition: font-weight 0.2s ease;
}

.navegador ul li a:hover {
    font-weight: bold;
}

#title-about {
    text-align: center;
    color: #333;
}

#p-about {
    text-align: center;
    color: #666;
}

#imagem-generation {
    text-align: center;
}

#imagem-generation {
    display: block;
    margin: auto;
}

footer {
    background-color: #f7f5f5;
    padding: 10px;
    text-align: center;
    font-size: 12px;
}